- baseURL = config[:site][:baseURL]
/
  Target for toggling the sidebar `.sidebar-checkbox` is for regular
  styles, `#sidebar-checkbox` for behavior.
%input#sidebar-checkbox.sidebar-checkbox{:type => "checkbox"}
  / Toggleable sidebar
#sidebar.sidebar
  .sidebar-item
    %p
      = config[:site][:description]
  %nav.sidebar-nav
    %div{class: "sidebar-nav-item #{'active' if item.path == '/'}"}
      = link_to "Home", '/'
    /
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` in the front-matter. See readme for usage.

    - pages.each do |page|
      %div{class: "sidebar-nav-item #{'active' if item.path == page.path}"}
        = link_to page[:title], page.path

  .sidebar-item
    %p
      \&copy;
      = Date.today.year.to_s
      All rights reserved.
